################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/TechChallenge.API/obj
/TechChallenge.Application/obj
/TechChallenge.Domain/obj
/TechChallenge.Infrastructure/obj
/TechChallenge.API/bin/Debug/net8.0
/TechChallenge.Domain/bin/Debug/net8.0
/TechChallenge.Infrastructure/bin/Debug/net8.0
/TechChallenge.Application/bin/Debug/net8.0
