################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/TechChallenge.API/obj
/TechChallenge.Application/obj
/TechChallenge.Domain/obj
/TechChallenge.Infrastructure/obj
/TechChallenge.API/bin/Debug/net8.0
/TechChallenge.Domain/bin/Debug/net8.0
/TechChallenge.Infrastructure/bin/Debug/net8.0
/TechChallenge.Application/bin/Debug/net8.0
/TechChallenge.Domain.UnitTests/bin/Debug/net8.0
/TechChallenge.Domain.UnitTests/obj/Debug/net8.0
/TechChallenge.Domain.UnitTests/obj
/TechChallenge.Application.UnitTests/bin
/TechChallenge.Application.UnitTests/obj
/TechChallenge.Infrastructure.UnitTests/bin
/TechChallenge.Infrastructure.UnitTests/obj
/TechChallenge.Application.IntegrationTests/bin
/TechChallenge.Application.IntegrationTests/obj
/CreateContactService/bin/Debug/net8.0
/CreateContactService/obj
/DataPersistenceService/bin/Debug/net8.0
/DataPersistenceService/obj
/DeleteContactService/bin/Debug/net8.0
/DeleteContactService/obj
/GetContactService/bin/Debug/net8.0
/GetContactService/obj
/UpdateContactService/bin/Debug/net8.0
/UpdateContactService/obj
